button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
button:hover {
  box-shadow: 0px 0px 40px red;
}

.botaoUpgrade {
  border-radius: 70px;
}

#sliderVolume {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 20px;
  background: linear-gradient(rgba(63, 40, 107, 0.5), rgba(45, 16, 78, 0.5));
  outline: none;
}
#sliderVolume:hover {
  box-shadow: 0px 0px 40px red;
}

#sliderVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: white;
  cursor: pointer;
}
#sliderVolume::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
}

#botaoIniciar {
  border-radius: 20px;
}
#botaoSelecionou {
  border-radius: 20px;
}
#botaoCancelar {
  border-radius: 20px;
}
#botaoConfirmar {
  border-radius: 20px;
}

#sliderVolume {
  padding: 5px;
  text-shadow: 0px 0px 15px black;
  border-radius: 20px;
  background: linear-gradient(rgba(63, 40, 107, 0.5), rgba(45, 16, 78, 0.5));
}

#botaoMusica {
  padding: 5px;
  text-shadow: 0px 0px 15px black;
  border-radius: 20px;
  background: linear-gradient(rgba(63, 40, 107, 0.5), rgba(45, 16, 78, 0.5));
}

input {
  background-color: Transparent;
  border-radius: 20px;
  background-repeat: no-repeat;
  font-family: "Lithos Pro";
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-left: 10px;
}
